{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <!-- <div id="header"> -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url "dashboard" %}">
                <img src="https://img.icons8.com/wired/64/26e07f/b.png" width="30" height="30" class="d-inline-block" style="border-radius: 0%;" alt="B">
                <span style="font-size: larger; font-weight: bolder;" class="align-bottom">ookmarks</span>
            </a>
            {% if request.user.is_authenticated %}
            <div class="navbar-nav">
                <div style="margin: auto;">
                    <a class="nav-link nav-item active" href="{% url "dashboard" %}">
                        Dashboard
                        <span class="sr-only">(current)</span>
                    </a>
                    <a class="nav-link nav-item" href="#">Images</a>
                    <a class="nav-link nav-item" href="#">People</a>
                </div>
                <div style="margin: auto;">
                    <span class="navbar-text" style="color: aliceblue;">
                        Hello {{ request.user.first_name }},
                    </span>
                    <a class="nav-item nav-link" href="{% url "edit" %}">Edit Profile </a>
                    <a class="nav-item nav-link" href="{% url "password_change" %}">Change Password </a>
                    <a class="nav-item nav-link" href="{% url "logout" %}">Logout</a>
                </div>
                {% else %}
                <a class="nav-item nav-link" href="{% url "login" %}">Login</a>
            </div>
            {% endif %}
        </nav>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message|safe }}
                        <a href="#" class="close">X</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    </body>
</html>