{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <!-- <div id="header"> -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url "dashboard" %}">
                <img src="https://img.icons8.com/wired/64/26e07f/b.png" width="30" height="30" class="d-inline-block" style="border-radius: 0%;" alt="B">
                <span style="font-size: larger; font-weight: bolder;" class="align-bottom">ookmarks</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if request.user.is_authenticated %}
                <ul class="navbar-nav ml-auto">
                    <!-- <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form> -->
                    <li class="nav-item active">
                        <a class="nav-link active" style="padding-right: 2.5rem;" href="{% url "dashboard" %}">
                            Dashboard
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="padding-right: 2.5rem;" href="#">Images</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="padding-right: 2.5rem;" href="#">People</a>
                    </li>
                </ul>
                {% endif %}
                <ul class="navbar-nav ml-auto">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-text" style="color: aliceblue; padding-right: 1.5rem;">
                            Hello {{ request.user.first_name }}
                        </span>
                    </li>    
                    <li class="nav-item dropdown">
                        <button type="button" class="nav-link active dropdown-toggle btn btn-outline-secondary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Options
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url "edit" %}">Edit Profile </a>
                            <a class="dropdown-item" href="{% url "password_change" %}">Change Password </a>
                            <a class="dropdown-item" href="{% url "logout" %}">Logout</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url "login" %}">
                            Login
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message|safe }}
                        <a href="#" class="close">X</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    </body>
</html>