{% extends "base.html" %}

{% block title %}Login{% endblock %}
<!-- html format for display of login, it must be located in registration
     directory to be rendered using django auth templates -->
{% block content %}
    <h1>Login</h1>
    {% if forms.errors %}
        <p>
            Your username and password didn't match.
            Please try again.
        </p>
    {% else %}
        <p>
            If you don't have an account
            <a href="{% url "register" %}">register</a> here <br><br>
            Please enter your username and password to login. 
        </p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <!-- hidden input to move to the next page configured -->
            <input type="hidden" name="next" value="{{ next }}" />      
            <p><input type="submit" value="Login"></p>
        </form>
        <p><a href="{% url "password_reset" %}">Forgot password?</a></p>
    </div>
    <div class="social">
        <ul>
            <li class="facebook">
                <a href="{% url "social:begin" "facebook" %}">Sign In With Facebook</a>
            </li>
        </ul>
    </div>
{% endblock %}