{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Create an account{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mx-auto">
                <div class="card border bg-white" style="border-radius: 2%;">
                    <div class="card-header">
                        <h3 class="mt-2 pt-2 font-weight-bold">Create an account</h3>
                    </div>
                    <div class="card-body p-4">
                        <form method="post">
                            <div class="form-group py-2">
                                <div class="input-field mt-2">
                                    {% render_field user_form.username type="text" placeholder="Username" required="" %}
                                </div>
                            </div>
                            <div class="form-group py-2">
                                <div class="input-field">
                                    {% render_field user_form.first_name type="text" placeholder="First name" required="" %}
                                </div>
                            </div>
                            <div class="form-group py-2">
                                <div class="input-field">
                                    {% render_field user_form.email type="text" placeholder="Email" required="" %}
                                </div>
                            </div>
                            <div class="form-group py-2">
                                <div class="input-field">
                                    {% render_field user_form.password type="password" placeholder="Enter your Password" required="" %}
                                </div>
                            </div>
                            <div class="form-group py-2">
                                <div class="input-field mb-2"> 
                                    {% render_field user_form.password2 type="password" placeholder="Re-enter your Password" required="" %} 
                                </div>
                            </div>
                            {% csrf_token %}
                            <div class="my-3">
                                <input type="submit" class="btn btn-primary btn-block mb-2" value="Register">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
